#upload_container{
    padding-top: 36px;
}

#upload_img_placeholder{
    width: 200px;
    height: 200px;
    display: flex;
    /* 자식 수직정렬 */
    flex-direction: column;
    align-items: center;
    /* 가운데 정렬 */
    justify-content: center;
    border: 1px solid rgb(230, 230, 230);
    background: rgb(253, 253, 253);
    margin-left: 16px;
}

#upload_img_placeholder > img{
    width: 50px;
    height: 50px;
}

#upload_img_placeholder > span{
    font-size: 14px;
    color: rgb(195, 194, 204);
}

.upload_name{
    width: 220px;
}

.upload_label{
    font-size: 18px;
    width: 80px;
}

#product_description{
    height: 150px;
}

#submit_button{
    float: right;
    background-color: rgb(30, 120, 255);
    color: white;
    border: none;
    margin-top: 10px;
}